.introduction{
    @include width-height(100vw, 60vh);
    @include center-all-flexbox();
    flex-direction: column;
    scroll-margin: 20vh;

    h2{
        font-size: 3rem;
        font-family: Foundry Gridnik W03 ExtraBold;
        margin: 0;
    }

    p{
        width: 70%;
        text-align: center;
    }
}